html(lang="en")
  head
    title 一个笔画一个猜
    meta(charset="utf-8")
    meta(name="description", content="tiny game by sailxjx")
    link(rel="stylesheet", href="./index.css")
    link(rel="stylesheet", href="../vendor/animate.css/animate.min.css")
  body
    div yigebihuayigecai
